<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="styles.css">
    <title>logout</title>
  </head>
  <body>
    <div class="logout">
      <h2 class="goodbye-msg"> Goodbye.</h2>
      <img src="https://images.pexels.com/photos/104827/cat-pet-animal-domestic-104827.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb">
      <div class="">
        Pleeeease give me a complete and satisfactory...Meow!
      </div>
    </div>
  </body>
</html>
