<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Root Login</title>
  </head>
  <body>
    <div class="">
      <h1>{{username}}</h1>
      <div class="">
        You are logged in.
      </div>
    </div>
  </body>
</html>
